[2015-05-20 18:06] Torlus opened #1 "Rejected proposals"
All my attempts to POST on /proposals end up with a 406 (Not Acceptable) response code :(

[2015-05-21 09:23] darobin commented on #1
It's unclear to me what you were expecting. The `/proposals` is not an endpoint listed in the docs and it's a read-only API anyway...

[2015-05-21 12:21] deniak commented on #1
Indeed, that endpoint is not (yet?) available.

[2015-05-21 12:21] #1 closed

[2015-05-22 07:14] vivienlacourba opened #2 "Add links to pages for joining the group and see its patent policy status"
Following discussion with @darobin and @r12a it would be handy if the API could have links to those 2 IPP pages.
This is only relevant for groups that are managed by IPP (which applies to all currently running WG, IG, CG, BG).

eg. for the WebRTC Working Group:
https://www.w3.org/2004/01/pp-impl/47318/join
https://www.w3.org/2004/01/pp-impl/47318/status

[2015-05-22 07:20] vivienlacourba opened #3 "Remove info that are irrelevant for closed groups"
I was wondering if we should not remove from the API info that are not relevant for closed groups (similarly for domains and activities).

In particular I am thinking about links that relates to group participants (as a closed group do not have any participant anymore).

eg for closed groups the `users`, `chairs` and `team_contact` links are useless as they will always return an empty list.

[2015-05-22 07:26] vivienlacourba opened #4 "New API route needed to get a specification based on its shortname"
Based on request from @darobin and othersthey would need a way to retrieve a specification from its current shortname.

This means we would need a route that handles the redirect based on spec shortnames (this should be case insensitive ie wcag20 or WCAG20 should both work).

https://api-test.w3.org/reportshornames/WCAG20 -> https://api-test.w3.org/reports/249

[2015-05-22 07:38] vivienlacourba opened #5 "Add Events to API"
The idea is be to expose what we have in our database regarding upcoming meetings and events ([admin interface for handling events data restricted to W3C Team](https://www.w3.org/Web/Tools/Events/)).

This includes upcoming events like, AC, TPAC, Workshops, group F2F meetings, and other events but was not build to handle regular group teleconf.

Events are currently displayed on those pages:
- htt

[2015-05-22 07:49] vivienlacourba opened #6 "Add Talks to API"
It would be nice to integrate [W3C Talks](http://www.w3.org/Talks/) data to the API.

Talks management is currently implemented using a different system not tied to the W3C database which is not maintained by W3C Systems Team (Ivan wrote it but was willing to transfer it to someone else). (For reference see [project documentation](http://www.w3.org/2004/08/PresManagement.html) and [Talk submission

[2015-05-22 08:50] darobin opened #7 "Please open the group"
This group started off open, it should not be closed.

I know that the API isn't announced yet (though it's public), but this repo was created for the specific purpose of gathering feedback from early adopters whom we've pointed at the API. They can't do that now. If it's to have a closed group why not just stick to the GitLab instance?

[2015-05-26 13:58] deniak opened #8 "Limit the number of items"
Github restricts the number of [items to 100](https://developer.github.com/v3/#pagination)

[2015-05-26 14:00] deniak opened #9 "API doc: parameters and requirements"
`requirements` should be use to list the restrictions on the parameters. If there's a path parameter like `api/reports/{report}`, `{report}` should be listed in the parameters.

It brings another problem which is how to differentiate path params and query params such as `embed`. In swagger, it's possible using the [’in’ property](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0

[2015-05-26 14:01] deniak opened #10 "Add links to previous and next charters on a given group charter"
it would be nice to have previous/next charter links on https://api-test.w3.org/groups/43696/charters/141

[2015-05-26 14:01] deniak opened #11 "empty collections: return 404 or empty table"
Should we send a 404 when there's an empty collection or display the json with no data? `/api/reports/576/versions/20090226/next`

[2015-05-29 16:02] darobin opened #12 "Add API to get user by GitHub ID"
We're starting to build a system to track contributions made to GitHub automatically, and notably to be able to flag pull requests as "safe" (because they come from someone we know to be in the group) or "merge with caution" if we're not sure.

In order for that to work, we need to be able to handle GitHub webhooks that give us a GH user ID, and use that to get a W3C user, their affiliation, etc.

[2015-06-03 07:25] tagawa opened #13 "Results for users should include link to People page for W3C staff"
E.g. the API result for Philipp Hoschka should ideally include a link to http://www.w3.org/People/#Hoschka

Note that the in-page anchors don't follow a set format such as the user's family name so there may need to be a re-naming of anchors (at the risk of breaking some existing links).

[2015-06-03 09:54] darobin opened #14 "Schema for the data model"
Would it be possible to develop a schema for the data model at some point? It does not need to be very constraining, but if it could list what can be relied upon versus what's optional in the data model, it would be helpful.

The case came up with https://api-test.w3.org/groups/76983 which was added to group-hug. It breaks the interface because there is very little information, notably it is missi

[2015-06-11 05:41] #4 closed, assigned to deniak

[2015-07-08 08:19] darobin opened #15 "Need schema and better defaults"
I just got bitten because some data instances don't follow the same pattern as others, and cannot be predicted. Many user affiliations look [like this](https://api-test.w3.org/users/cqztfo2h5lc88kck048w8sooo84kc80/affiliations) but there are some that look [like that](https://api-test.w3.org/users/mknueizsus0c444cok4o0s08k400oo4/affiliations).

This cannot be guessed because there is no schema doc

[2015-07-09 13:32] dontcallmedom opened #16 "Add "latest" shortcut to /reports"
It would be nice if /reports/{shortname}/latest was an alias to whatever is the latest known version of the said spec. Right now, it takes two hops from a shortname to the list of its WGs, and the "latest" alias would avoid that issue.

Alternatively, the description of the latest version might be in-lined in the report/{shortname} endpoint — it is after all likely to be relevant information for t

[2015-07-16 14:31] #2 closed, assigned to deniak

[2015-07-17 13:24] darobin opened #17 "Forced paging breaks service"
It used to be that the following worked:

    https://api-test.w3.org/groups?items=500&embed=true

Now it maxes out at 100. This is breaking the [group listing in the repository manager](https://labs.w3.org/hatchery/ash-nazg/admin/groups). I'm not sure what the purpose of this limitation is. The UI needs to show all groups so all that is going to happen is that instead of one request there will be

[2015-08-07 09:17] darobin opened #19 ""Superseeded""
There is a "superseeded" field on specifications, as can be seen in https://api-test.w3.org/specifications/SVG/superseeded or in the docs.

That's not an English word. See http://dictionary.reference.com/browse/superseded.

Ditto "superseeds".

Is it still possible to change this?

[2015-08-07 10:08] darobin opened #20 "Arrays should always be arrays"
This was already mentioned in #15, but it is enough of a problem that it warrants its own bug.

Some fields are clearly meant to hold arrays, and when they contain multiple items they do. But if by chance they hold only a single item they become scalars. This is a painful antipattern to use, it constantly causes failures. I am finding myself having to write code to test for arrays pretty much ever

[2015-08-07 10:30] darobin opened #21 "Specification next/previous modelled as lists"
Currently, the JSON returns for next and previous on specifications are modelled as lists. This may be correct (though I can't find examples) but it's hard to guess since before of #20 they show up as scalars anyway.

If there is only ever one prev/next, these should be exposed as scalars directly and not a pageable result.

If they are meant to be exposed as lists, then it would be very nice if t

[2015-08-11 10:29] #19 closed, assigned to deniak

[2015-08-12 09:57] #21 closed, assigned to deniak

[2015-08-25 08:15] tripu opened #22 "Documentation isn't available without an API key, and therefore not linkable"
The README says

but that link is now broken.

I guess now users have to manually append their API key (one that is _not_ restricted per domain, or at least associated to `w3.org`) to that URL to be able to read the docs, eg `https://api-test.w3.org/doc?apikey=<your-key-here>`.

As we don't want to share keys in that way, it means the documentation isn't public. It won't be indexable for search en

[2015-08-25 08:46] tripu opened #23 "Invalid JSON returned when API key is absent or wrong"
Quotes are missing from one of the properties of the returned object:

<code>$ curl [https://api-test.w3.org/domains/41381](https://api-test.w3.org/domains/41381)</code>

[code]

<code>$ curl [https://api-test.w3.org/domains/41381?apikey=foo](https://api-test.w3.org/domains/41381?apikey=foo)</code>

[code]

[2015-08-25 09:18] #23 closed, assigned to deniak

[2015-08-25 13:46] dontcallmedom opened #24 "In API key generation, domains shouldn't restricted to be of the form domain.tld"
In particular, running an in-browser app from localhost when developing it is rather common :)

[2015-08-25 14:58] #22 closed, assigned to deniak

[2015-08-25 15:14] vivienlacourba opened #25 "Get your current rate limit status"
Similar to what GitHub is doing https://developer.github.com/v3/rate_limit/ we should add a new endpoint `GET /rate_limit` so that developers can get the rate limite status of their API Key.

[2015-08-25 15:18] #8 closed, assigned to deniak

[2015-08-26 13:27] tripu opened #26 "Value of query param "embed" is ignored; any value means "true""
All these return the same (append your API key to the URLs):
- [`https://api-test.w3.org/specifications?embed=true`](https://api-test.w3.org/specifications?embed=true)
- [`https://api-test.w3.org/specifications?embed=false`](https://api-test.w3.org/specifications?embed=false)
- [`https://api-test.w3.org/specifications?embed=foo`](https://api-test.w3.org/specifications?embed=foo)

[2015-08-27 12:09] #26 closed, assigned to deniak

[2015-08-27 13:06] #7 closed

[2015-08-27 13:08] darobin commented on #7
\o/

Can we talk about it?

[2015-08-27 13:08] vivienlacourba commented on #17
@darobin we have reverted the pagination limit to 100 items so I'm closing this issue. I'll open a new one regarding your comment on low performances.

[2015-08-27 13:08] #17 closed

[2015-08-27 13:16] vivienlacourba opened #27 "Low performances even on cached pages"
@darobin indicated in [issue #17](https://github.com/w3c/w3c-api/issues/17#issuecomment-128751235) that he was experiencing low performances even when fetching the same resources multiple times which are supposed cached.

I am creating this new seprate issue so that @jean-gui can take a closer look at it.

[2015-08-27 13:20] deniak commented on #7
@darobin  go ahead!

[2015-08-27 14:18] tripu commented on #7
Hum&hellip; I guess it'll be fine for me to [release the bees](https://github.com/w3c/apiary), then&hellip;

[2015-08-27 15:18] tguild commented on #7
:) at bees

[2015-08-28 11:32] vivienlacourba opened #28 "Inconsistent name for team contacts endpoint and links"
As discussed with @deniak and @tagawa the name of the team contacts endpoint `/groups/*id*/teamcontacts` and the link name used to point to that resource (`_links.team_contacts`) are not consistent (the first one does not contain an `_`).

The endpoint: https://api-test.w3.org/groups/40318/teamcontacts

A link to it as seen in: https://api-test.w3.org/groups/40318

[code]

We could `s/teamcontacts

[2015-08-31 06:55] tripu opened #29 "Inconsistent meaning of field “href”"
In the API, `href` sometimes contains a HATEOAS reference (another URL for the API where more data can be discovered), and sometimes it contains a regular URL intended for humans (eg, the URL of a page or image under `w3.org`).

For example, look at all values returned inside `href` properties here:
[`https://api-test.w3.org/groups/68239`](https://api-test.w3.org/groups/68239)

This may not seem l

[2015-08-31 07:18] tripu opened #30 "Inconsistent use of “name” and “title”"
In the API, field names `name` and `title` seem to be used indistinctively.

An example: in the data returned by [`https://api-test.w3.org/domains/41381?embed=true`](https://api-test.w3.org/domains/41381?embed=true), the _name_ of the domain is inside `name`; but the _name_ of the domain lead is inside `_links.lead.title` (not `_links.lead.name`).

Another example: in [`https://api-test.w3.org/use

[2015-08-31 07:40] vivienlacourba commented on #30
Hi @tripu, for links the `name` and `title` properties have different meanings and are used correctly in the above examples. Note that there is a difference between "name" being used as a resource property and "name" being used in the context of a HAL link object.

See the "5.5.  name" and "5.7.  title" properties of [Link objects in HAL](https://tools.ietf.org/html/draft-kelly-json-hal-07#section

[2015-08-31 07:57] vivienlacourba commented on #30
Maybe we could add a [type property for link objects](https://tools.ietf.org/html/draft-kelly-json-hal-07#section-5.3) with the value `application/hal+json` when we are linking to an API resource, I ma not sure if this is feasible in our current code and will make the API results a bit more verbose.

[2015-08-31 08:02] vivienlacourba commented on #29
For link objects the `href` property is mandatory see the relevant [HAL spec section on Link obects](https://tools.ietf.org/html/draft-kelly-json-hal-07#section-5.1).

Maybe we could add a ["type" property on link objects](https://tools.ietf.org/html/draft-kelly-json-hal-07#section-5.3) with the value `application/hal+json` when we are linking to an API resource, I am not sure if this is feasible

[2015-08-31 09:50] tripu commented on #30
Thanks, @vivienlacourba.
I think I get it.

Assigning this pseudo-issue to myself to double-check that that is all I need in Apiary; will follow up.

[2015-08-31 09:55] tripu commented on #29
For the record, @vivienlacourba pointed me to [`https://tools.ietf.org/html/draft-kelly-json-hal-07`](https://tools.ietf.org/html/draft-kelly-json-hal-07) and [`https://groups.google.com/forum/#!searchin/hal-discuss/link/hal-discuss/H1V0cfMttcI/JyUgTqT79PoJ`](https://groups.google.com/forum/#!searchin/hal-discuss/link/hal-discuss/H1V0cfMttcI/JyUgTqT79PoJ).

That last thread seems to indicate that

[2015-09-04 10:31] dontcallmedom opened #31 "Provide webhook on TR publication"
Since TR publications are one of the key aspects on how W3C operates, it would be great if one could register a Webhook that gets invoked each time a TR gets published.

This would for instance enable automatic notifications to mailing lists.

[2015-09-07 14:22] jean-gui commented on #27
@darobin I've made some changes to the caching proxy that should make it more efficient.

[2015-09-09 13:17] tripu commented on #31
This is not exactly what @dontcallmedom suggests, but just as a reminder:
Right now, it is possible to poll the method `echidna/api/status` with the ID of a _publication job_. For example, it would be reasonable to poll it eg every 10&Prime;, maybe for 2&prime; maximum, after a document is submitted to the system. The [JSON response](https://labs.w3.org/echidna/api/status?id=888ecb8d-2379-4b2d-82a

[2015-09-09 13:34] jean-gui commented on #24
What about creating a key without domain restriction for development? Wouldn't that solve your problem?

[2015-09-14 02:30] dontcallmedom commented on #24
I need the domain for CORS to work (right?)

[2015-09-14 02:31] dontcallmedom commented on #31
My request was not specifically for echidna-published documents, but for all TR documents that get updated FWIW.

[2015-09-14 12:07] deniak commented on #31
@dontcallmedom do you expect these webhooks will be used to get notifications for other kind of events (group creation, user joining groups, etc)? If it's going to be only for TR documents, it will definitely be easier to implement.

[2015-09-14 13:44] dontcallmedom commented on #31
hmm… I would think we would want to start with a webhook that only notifies of TR document publications, but I can also imagine us wanting to expand that set of events overtime. In particular, I think the events that get sent should have a type to distinguish between various sources of events (even if initially there is only "TRpublication" as event type)

[2015-09-14 13:59] jean-gui opened #32 "Inconsitent property name for team contacts"
https://api-test.w3.org/groups/68239 and https://api-test.w3.org/groups/68239/teamcontacts are inconsistent: the former has team_contacts while the latter has teamcontacts. This makes the API harder to discover since when one follows the link named team_contacts, he expects to get back something named team_contacts.

This is related to https://github.com/w3c/apiary/issues/20 (much more than https:

[2015-09-14 14:03] jean-gui commented on #28
I don't think that's a real issue. I believe that the problem Apiary is facing is rather related to #32.
I'm not against making the API more consistent, but:
- if we change the property name, it becomes inconsistent with other property names
- if we change the URL, it becomes inconsistent with other URLs

Thus, I'd rather leave it as is.

[2015-09-14 14:38] deniak commented on #31
ok, I discussed this with @jean-gui today and we have some ideas on how to implement that system but we need to bring this to the systeam to see what can be done here and when (cc @tguild)

[2015-09-14 15:10] jean-gui commented on #32
Fixed. Will be deployed as soon as we get the Go from @darobin https://github.com/darobin/w3capi/issues/1

[2015-09-14 15:10] #32 closed, assigned to nobody

[2015-09-14 15:30] tguild commented on #31
agree this would be useful. @dontcallmedom do you have an example service with such a hook in mind to look at?  @deniak as always it is a matter of demand and priorities :) so let me know how much effort you and @jean-gui believe it would take

[2015-09-14 15:50] dontcallmedom commented on #31
well, [github webhooks](https://developer.github.com/v3/orgs/hooks/) look like an obvious comparison point :)

[2015-09-15 07:42] deniak commented on #31
Github provides an history of each request/response to the webhooks. I think it's not too hard to implement but we need to agree on who can create these webhooks and from where: member visibile page, user profile?

For TR documents, it's ok to share the results with everyone but if we are going to share information about groups and users, we will have to deal with privacy.

[2015-09-15 15:24] dontcallmedom commented on #31
re who can create webhooks, I think anyone with a W3C account; we might have to vary what webhooks are available to whom (taking into account your note on the privacy impact of some of the events).

Where — probably the same as API key, i.e. user profile for now; we might have to migrate these to a different entry points at some point, but I don't think it's critical, and I hope it shouldn't matte

[2015-09-15 17:15] tguild commented on #31
@deniak until (if) we come up with ACLs on more private/sensitive information we need to treat everything as public.  As such only you should only be able to put hooks on open data like TR for now. Those with API keys (that presently requires a W3C account) should by extension be able to create hooks.

[2015-09-16 16:37] jean-gui commented on #24
Done. You can now add localhost. Other domains still require the form domain.tld.

[2015-09-16 16:37] #24 closed

[2015-09-17 12:53] #28 closed, assigned to jean-gui

[2015-09-17 12:58] #30 closed, assigned to tripu

[2015-09-17 14:01] #27 closed, assigned to jean-gui

[2015-09-18 13:32] vivienlacourba opened #33 "items parameter not taken into account on /specifications/{shortname}/versions/{date}/previous"
The `items` parameter used to control how many items are displayed on paginated results is not taken into account on `/specifications/{shortname}/versions/{date}/previous` (and I believe there is a similar issue for `.../next`).

See for example the version below which has 4 previous versions. I requested only 2 items per page but got 4 items.
https://api-test.w3.org/specifications/WCAG20-TECHS/ve

[2015-09-18 13:55] vivienlacourba opened #34 "Collision on previous and next relation names"
In `/specifications/{shortname}/versions/{date}/previous` the `previous` relation is used to link to previous version(s) of a given specification version, unfortunately that name is already used by the pagination module to indicate the previous result page.
This leads to strange results as both links are being merged together.

See for example:
https://api-test.w3.org/specifications/WCAG20-TECHS/v

[2015-09-18 14:10] dontcallmedom opened #35 "When no "Origin" is set, ignore the domain restrictions"
The rule that the Origin header is used to filter who get access to the API is only useful to impose the restriction on browsers, which are guaranteed to add the Origin header when they make a cross-origin request.

There is no point (that I can see) in rejecting requests that comes with no Origin header; allowing them makes it much easier to view the result of an API call by just GETting the api.

[2015-09-18 14:33] vivienlacourba opened #36 "Use specific media type for the W3C API"
Following discussions started with @tripu on issue #29 I went to the conclusion that it will make things easier if the W3C API had its own media type. That way we could clearly identify when link relations points to another W3C API resource (using the [`type` property on link objects](https://tools.ietf.org/html/draft-kelly-json-hal-07#section-5.3)).

@dontcallmedom also suggested we include the A

[2015-09-18 15:02] vivienlacourba commented on #36
Issue description updated as I actually forgot the version number, and also after some thought having `hal` in the media type seemed like an overkill, it would have been either:
- `application/vnd.org.w3.api.v1.hal+json`
- `application/vnd.org.w3.api.hal.v1+json`

[2015-09-18 15:17] dontcallmedom opened #37 "Give participation affiliation in groups user list"
In some groups (typically, WGs, IGs, CGs), people participate as representative of another group (typically, a Member org); as far as I can tell, that (very useful) information is not currently available in the API.

(one can retrieve the list of the users's affiliation, but not the one that specifically "sponsors" the participation in the said group)

[2015-09-18 15:38] vivienlacourba commented on #36
For future thoughts the [JSON-LD media type](http://www.w3.org/TR/json-ld/#application-ld-json) is `application/ld+json`.

[2015-09-18 16:38] jean-gui commented on #25
https://api-test.w3.org/rate_limit. It obviously requires an apikey parameter or the proper Authorization header to work.

[2015-09-18 16:38] #25 closed

[2015-09-21 13:19] #35 closed, assigned to jean-gui

[2015-09-24 07:15] vivienlacourba commented on #31
For our inspiration here is a pointer to [GitLab's webhooks documentation](http://doc.gitlab.com/ce/web_hooks/web_hooks.html).

[2015-09-24 13:38] jean-gui commented on #34
I don't think that predecessor-version corresponds to what we model here. In our case we have several previous versions, but predecessor-version only makes sense for branches merging

[2015-09-29 15:28] jean-gui commented on #33
Fixed. Will be deployed later.

[2015-09-29 15:28] #33 closed, assigned to jean-gui

[2015-09-29 15:38] vivienlacourba commented on #34
If we go for the above mentioned `predecessor-version` and `successor-version` we should also use the `version-history` and `latest-version` relation names which are also part of [RFC5829 - Version Navigation Link Relations](http://tools.ietf.org/html/rfc5829).

[2015-09-29 16:07] jean-gui commented on #11
I fixed a bug for non-existing spec versions (yet to be deployed). For the rest, I believe the current behaviour is correct:
- /users/foobar references a non existing user, so that's a 404
- /specifications/xxx/versions/yyy/successor returns an empty collection because the spec version exists but has no successors

[2015-09-29 16:07] #11 closed

[2015-09-30 09:35] jean-gui commented on #34
Changes to be deployed soon on link rels:
- parent -> up
- previous -> predecessor-version (for spec versions)
- next -> successor-version (for spec versions)
- versions -> version-history (for spec versions)
- first -> first-version (for specs)
- latest -> latest-version (for specs)

And URLs :
- /specifications/xxx/versions/yyy/previous -> /specifications/xxx/versions/yyy/predecessors
- /specifi

[2015-09-30 09:35] #34 closed, assigned to jean-gui

[2015-10-01 04:10] tripu commented on #13
We also discussed returning all the links that are listed for that user under the &ldquo;links&rdquo; section in their `https://www.w3.org/users/<ID>` page.

WDYT?

[2015-10-01 14:35] philarcher opened #38 "RDF (Turtle) output"
It is very important that the W3C API supports Linked Data principles as well as providing JSON. There are two aspects to this:
1. being able to request the data as Turtle (as well as JSON and, presumably, other formats over time);
2. exposing the dataset overall as a set of Web resources in different representations including at least HTML, JSON and some serialisation of RDF (Turtle and JSON-LD a

[2015-10-02 11:30] vivienlacourba commented on #13
@tripu I am reluctant to expose user profile links in their current implementation as today it is a simple list of unchecked links with labels, plus our privacy policy does not state that we will share publicly those user provided links.
For me working on public profile comes first, as this is when we will have to answer those privacy question and have new profile edit pages that would explain cle

[2015-10-02 12:14] vivienlacourba commented on #13
@tagawa I don't want to add links to People page in the API result of a user as those links are only relevant for current W3C Staff members. On the opposite you should be able to create such a link easily.

The issue today is that the anchors used on the People page are the usernames (an info we decided not to expose in the API).
As you suggested I think we should change those anchors and use the

[2015-10-02 12:38] tguild commented on #13
I am also disinclined from exposing usernames as identifiers and support converting to numeric ids.

[2015-10-02 17:05] vivienlacourba opened #39 "Get rid of discr property and merge it with type"
type property is needed on:
- `groups` (various types of groups wg / ig / bg / cg)
- `affiliations` (to differentiate between affiliation and organization)
- Not needed elsewhere as it is obvious which type of object we are getting based on the endpoint

[2015-10-02 17:15] vivienlacourba opened #40 "New endpoint for affiliations"
New affiliation endpoint (which includes all organizations):
- `/affiliations`
- `/affiliations/{aff-id}`

This is similar to what we have done for `/domains`.

[2015-10-02 17:21] vivienlacourba opened #41 "Add filters to retrieve only W3C Member organizations"
It would be handy to be able to retrieve only the list of W3C Member organizations (useful to build a page like the [Current W3C Members](http://www.w3.org/Consortium/Member/List) list.

This could be done by adding a filter like `?members=true` on the `/affiliations` endpoint.

[2015-10-02 17:25] vivienlacourba opened #42 "New endpoint for W3C Group participations"
New participation endpoint:
- `/participations/{participation-id}` an entity's (individual or organization) participation in a W3C Group
  - a `type` property with value `organization/individual`
  - `created` and `ended` properties (find good names)
  - a `group` link
  - a `user` link (only if `type=individual`)
  - an `organization` link (only if `type=organization`)
  - a `participants` link (

[2015-10-02 17:31] vivienlacourba opened #43 "Add participations information for affiliation, groups and users"
As group participation is now public we can add a few more routes related to organizations and affiliations' participations.

This would enable to create based on the API pages like the [IPP status page](https://www.w3.org/2004/01/pp-impl/47318/status) and should answer @dontcallmedom request #37.

On affiliations add the following links and subpages:
- `/affiliations/{aff-id}/participations` list

[2015-10-02 17:33] vivienlacourba opened #44 "Remove link to services on affiliations"
We do not have any service tied to affiliations or organizations so that link should be removed from the API results for those entities.

See bug on eg. https://api-test.w3.org/groups/1066

[2015-10-02 17:40] vivienlacourba opened #45 "Only list public W3C groups for a user"
The list of groups returned for a user (`/users/{hash}/groups`) should only include public groups (wg/ig/cg/bg/tag/ab) similar to what we have on the `/groups` endpoint.

See for example [Robin's API result](https://api-test.w3.org/users/cqztfo2h5lc88kck048w8sooo84kc80/groups) which should not list the "Alumni" group.

[2015-10-02 17:42] vivienlacourba commented on #37
Hi @dontcallmedom we have discussed this with @jean-gui and have created a proposal which is detailed in issue #43.

[2015-10-05 18:17] sandhawke commented on #31
It'd definitely be nice to have this for people joining or leaving a group, too.     And probably any other data change event.  So don't make it TR specific, please.

[2015-10-06 03:07] tagawa commented on #13
Thanks for the reply @vivienlacourba and @tguild. The current anchors in the People don't seem to be consistent - many times they are not the username so it would not be easy to create links as it is.

I agree changing all of them (and their backlinks) to numeric IDs would be the best solution although it's a lot of work. The list of backlinks above doesn't include all pages - is it possible to ge

[2015-10-06 12:59] vivienlacourba commented on #13
@tagawa the [/People](http://www.w3.org/People/) page is always using the user login for the user entry anchor. Here is the [related template code](https://gitlab.w3.org/symfony-bundles/w3caccountsbundle/blob/a6e34c398da8e3fd81e2f273d0718762c34f703c/Resources/views/macro.html.twig#L17):

[code]

As agreed with you and @tguild I'll change that to use the user id instead.

@tagawa regarding your abo

[2015-10-06 13:05] vivienlacourba commented on #20
Assigning that issue to @jean-gui who found a workaround that ensures collections are always returned as JSON array even if they only have one element.

[2015-10-06 13:28] sandhawke opened #46 "Make it easy to get all the available data"
If I want to get at the data in some way that's not anticipated, it's very painful.    Hypothetically, if I wanted to find the users who had 6-letter last names, I'd have to traverse all the 100-item pages of all the groups, find their users, then traverse all the 100-item pages of those users.   For some data, I'd then need to fetch every single one of those user pages, too.

A simple first step

[2015-10-06 15:06] vivienlacourba commented on #46
Hi @sandhawke

Initially we had an `/users` endpoint for all users but we removed it for confidentiality reason. At the same time we also introduced user hash (instead of the numeric ids).
We might re-discuss this now that all public groups have their list of participants public (and as you said only list those in public groups).

We already had in mind the ability to filter results. Simple use ca

[2015-10-06 15:54] tagawa commented on #13
Thanks for the quick response @vivienlacourba.

Re. the user logins it must be my misunderstanding. I thought user logins were the same as the first part of a user's email address (***@w3.org) but it seems not &mdash; sorry.

For pages linking to w3.org/people, I looked at a few WG pages and several of them link to People, e.g. http://www.w3.org/2012/webcrypto/ , http://www.w3.org/2013/csvw/wiki/M

[2015-10-06 17:46] vivienlacourba commented on #13
@tagawa you are right, looking at logs for a single day was clearly not enough.

I made an [updated list based on the last 3 months of logs](https://jay.w3.org/~vivien/people-page-referers) that I uploaded on jay.
It has 216 entries I believe several don't need to be fixed as they will only have a link to `/People` without using any anchor of that page.

Also note that http://www.w3.org/2013/csvw/

[2015-10-06 18:19] vivienlacourba opened #47 "Harmonize format of rel names and use of URIs for our own relation names"
The [Web Linking RFC](https://tools.ietf.org/html/rfc5988#section-4.1) that HAL references indicates:

Our relation names don't follow that pattern we should harmonize and follow it.

Note that relation names that are not registered should be URIs (possibly shorten with [CURIE](http://www.w3.org/TR/curie/)) as explained in [HAL's "8.2. Link relations" section](https://tools.ietf.org/html/draft-kel

[2015-10-07 16:59] vivienlacourba opened #48 "Increase maximum number of items on paginated results"
We got several requests asking to increase the number of items per page (some people even asked us to get rid of pagination, see issue #46 from @sandhawke).

While it does not seem feasible to completely remove pagination (as we already experience it when we reached memory limits), we should be able to increase the current maximum which is at 100 to an higher number. That number would be determine

[2015-10-07 17:01] jean-gui commented on #48
Maximum increased to 1000, and default is now 100.

[2015-10-07 17:01] #48 closed, assigned to jean-gui

[2015-10-07 22:21] vivienlacourba commented on #27
FYI upon further testing this issue is really due the time needed to process a request when big roundtrips are involved (eg. over a transatlantic network connection). Note that we have recently increased the pagination limits which enables to reduce the number of requests needed to fetch a full set of results (see issue #48).

[2015-10-07 22:32] vivienlacourba opened #49 "Increase maximum number of requests per period"
Currently up to 500 requests per hour to the API are allowed.
Now that we have caching widely used, we should be able to safely increase that limit by a factor 10 allowing 5000 requests per hour.

@jean-gui I am going to do the change in the AccountsBundle, please do similar modifications on the Varnish side and then deploy it.

[2015-10-07 22:41] 4414 commented on #27
Please help me with SEO.
http://apartmani-manjarema-fadic.hr/

[2015-10-08 07:16] deniak opened #50 "Harmonize property and rel names"
#47 suggests we use `-` instead of `_` in rel names. We should have the same format for property names as well.

[2015-10-08 09:09] #49 closed, assigned to jean-gui

[2015-10-08 11:08] #10 closed

[2015-10-08 12:18] vivienlacourba commented on #20
Fixed by @jean-gui and deployed.

[2015-10-08 12:18] #20 closed

[2015-10-08 13:27] vivienlacourba commented on #50
@deniak before proceeding with that change it would be good to measure its impact on applications relying on the API. Could you coordinate with @tripu regarding impact on [apiary](https://github.com/w3c/apiary) and also with @dontcallmedom to inform him of that change ?

[2015-10-08 19:40] vivienlacourba commented on #45
Implemented.

[2015-10-08 19:40] #45 closed, assigned to vivienlacourba

[2015-10-09 04:46] deniak commented on #50
I created a MR for [node-w3capi](https://github.com/w3c/node-w3capi): https://github.com/w3c/node-w3capi/pull/3.

[2015-10-09 10:09] vivienlacourba commented on #50
This modification has been merged and will be deployed on Monday 12 Oct in the morning.

[2015-10-09 11:22] vivienlacourba commented on #47
This modification has been merged and will be deployed on Monday 12 Oct in the morning.

[2015-10-09 14:26] jean-gui commented on #39
discr is present because it would be necessary for deserialization (in case of a POST or PUT). It is possible to rename it, but then you also have to explicitly add all the value<->class pairs, which will be a pain to pain.

I think it's better to let it be.

[2015-10-09 14:26] #39 closed, assigned to jean-gui

[2015-10-09 14:31] jean-gui commented on #37
@dontcallmedom Can you confirm that https://github.com/w3c/w3c-api/issues/43 would solve this issue?

[2015-10-09 14:33] vivienlacourba commented on #39
I agree.

[2015-10-09 14:55] dontcallmedom commented on #37
I believe it would (I hope you were not waiting for my reply or validation)

[2015-10-09 15:14] tripu commented on #50
w3c/apiary#27 is ready to be merged in sync with this rollout of the new API version.

I shall be online on Monday to solve issues with Apiary&nbsp;&mdash;&nbsp;a few hours after the deployment, the latest.

[2015-10-09 15:19] jean-gui commented on #37
No, #43 is implemented and ready to deploy. I was simply wondering if something more would be needed for your use case.

[2015-10-09 15:21] #37 closed, assigned to nobody

[2015-10-12 17:23] sandhawke opened #51 "HTTP Error 502 Response"
Sometimes I get HTTP response code 502.   It appears to be load related.   I get them about once every 500 queries if I'm running 50 queries per second.   I haven't gotten any (after more than 5000 queries) when I slow down to 20 queries per second.

[2015-10-13 09:03] #50 closed, assigned to deniak

[2015-10-13 12:01] jean-gui commented on #42
Will be deployed soon

[2015-10-13 12:01] #42 closed, assigned to jean-gui

[2015-10-13 12:01] jean-gui commented on #43
Will be deployed soon

[2015-10-13 12:01] #43 closed, assigned to jean-gui

[2015-10-13 12:01] jean-gui commented on #40
Will be deployed soon

[2015-10-13 12:01] #40 closed, assigned to jean-gui

[2015-10-13 12:36] vivienlacourba commented on #47
This has been deployed. Now all relations are using lowercase and - characters.

At this stage we have decided not to use URIs for our own relation names (this would need to be introduced alongside CURIEs).

[2015-10-13 12:36] #47 closed, assigned to deniak

[2015-10-13 12:42] vivienlacourba commented on #44
This was fixed with the introduction of a new endpoint for affiliations in issue #40.

Will be deployed soon.

[2015-10-13 12:42] #44 closed, assigned to nobody

[2015-10-13 21:52] hariharshankar opened #52 "Spec Version History in API Differs from History in HTML Page"
The version history of specifications provided by the API is different from the version history available in the HTML version of the spec.
For example:
The page http://www.w3.org/TR/xslt lists 7 versions:

http://www.w3.org/TR/1999/REC-xslt-19991116
http://www.w3.org/TR/1999/PR-xslt-19991008
http://www.w3.org/1999/08/WD-xslt-19990813
http://www.w3.org/1999/07/WD-xslt-19990709
http://www.w3.org/TR/

[2015-10-14 10:29] deniak commented on #52
@hariharshankar, thanks for the report. It's now fixed.

[2015-10-14 10:29] #52 closed, assigned to deniak

[2015-10-16 17:03] vivienlacourba commented on #51
It seems CPU related @jean-gui is making some bench to see how we can improve that.

[2015-10-26 13:49] vivienlacourba opened #53 "Non-public groups should not be exposed"
To be coherent with what we are currently doing on `/groups` which only lists public groups, we should not expose publicly data of groups that are not themselves public (meaning groups that are not WG, IG, CG, BG).

So accessing groups like `W3C/MIT` (https://api-test.w3.org/groups/114) should return a 403.

[2015-10-26 14:00] vivienlacourba commented on #53
BTW looking at that record I see it has a `participations` link, I think this only makes sense if the groups tracks affiliation of its participants. I'll open a separate issue.

[2015-10-26 14:05] vivienlacourba opened #54 "Participations link and endpoint is only valid for groups that are tracking affiliation"
Filling a separate issue for a comment I made on another issue: https://github.com/w3c/w3c-api/issues/53#issuecomment-151142196

The `participations` link and endpoint is only valid if the group is a W3CGroup which is tracking the affiliation of its participants, meaning `W3CGroup->isTrackingAffiliation() == true`

If the group is not tracking participants' affiliation then the `participations` li

[2015-10-26 14:11] vivienlacourba commented on #54
@jean-gui, correction that link might make sense only if the group is managed by IPP, so instead of looking at `W3CGroup::isTrackingAffiliation()` we should be looking at `W3CGroup::isIPPManaged()`

[2015-10-26 14:42] vivienlacourba opened #55 "Reintroduce /users endpoint"
This is a follow up of https://github.com/w3c/w3c-api/issues/46#issuecomment-145887368

Recently we harmonized our configurations and now all W3C public groups (ie WG, IG, CG, BG) have their list of participants public.

Besides groups participants the following list of users are publicly available on the W3C website:
- [TR Editors](http://www.w3.org/TR/tr-editor-stds)
- [Team](http://www.w3.org/P

[2015-10-26 15:23] sandhawke opened #56 "Provide link to external identity"
I'd love to do a demo for TPAC that relies on connecting W3C Users with real-world users.  That means I need the API to expose the user's URLs.

That is, at https://www.w3.org/users/myprofile people can set things like Homepage, Github, WebID, etc.   Those should be available through the API.    When I see a list of people in a group, I should be able to click and get their homepages, right?   And

[2015-10-26 16:28] sandhawke commented on #55
+1 this would be really nice

[2015-10-27 06:46] vivienlacourba opened #57 "Handling links to disabled records"
I'll explain here an issue I found on TR editors but I guess we likely have similar cases with other disabled user or groups records.

While looking at unused accounts I noticed that some old editors accounts have been disabled, which introduce issues in the API.

Example "[CC/PP exchange protocol](http://www.w3.org/1999/06/NOTE-CCPPexchange-19990624)" specification which was edited by "[Hidetaka

[2015-10-28 00:16] vivienlacourba commented on #54
fixed by @jean-gui and deployed.

[2015-10-28 00:16] #54 closed, assigned to jean-gui

[2015-10-28 00:16] vivienlacourba commented on #53
fixed by @jean-gui and deployed.

[2015-10-28 00:16] #53 closed, assigned to jean-gui

[2015-10-28 00:32] vivienlacourba commented on #56
@sandhawke those user provided links are not exposed in the API as they are today not reliable, plus from a privacy perspective we have so far not been transparent with our users on how this information will be used and in particular that we would make it publicly available.

This is something that we will add to the API once W3C implements public profiles (a project that is still desired but with

[2015-10-28 00:35] vivienlacourba commented on #56
BTW link to services like GitHub is something we are planning to add as it has been a popular request (see: #12 )

[2015-10-28 22:00] sandhawke commented on #56
So the fear is that users might be providing homepage and github and webid links but thinking the information is only for the w3c members, or something like that?  How do you propose to solve that?   I guess you could add a check box next to the links that says "make these links public".   That sounds relatively easy, and then it would clearly be okay to add to the API when checked, right?   Any o

[2015-10-29 22:03] akuckartz commented on #36
Please do not create YAMT (Yet Another Media Type). Use `application/ld+json`. Thanks.

[2015-10-29 22:04] akuckartz commented on #38
:+1:

[2015-11-05 22:55] sandhawke commented on #56
I've re-opening this issue with a less-urgent title since my deadline passed.  But this is still important, and it's not a question.  Applications need a way to connect W3C user accounts to other identifying information.   And it has to be two-way, with each data source linking to the other, in order to be trustworthy.    (And yes, it overlaps #12 but of course not just github)

[2015-11-18 08:48] tripu commented on #36
:+1: to reuse an existing media type (`application/hal+json`).

[2015-11-18 09:30] tripu commented on #13
FWIW, here goes an idea I shared with @tagawa days ago to avoid breaking links (if we were to keep old IDs on that page): we can't give more than one ID to the same element, but we can either assign it a new `name` or assign the new ID to an element that is _almost_ that one.

Example of the first option:

[code]

Second one:

[code]

That would give us new fragment IDs without breaking the old on

[2015-11-18 13:23] tagawa commented on #13
+1
I'd go for the second option to avoid id/name confusion.

[2015-11-19 09:44] jean-gui commented on #31
Webhooks support is coming up soon, starting with TR publications. Group joins/leaves will quickly follow but require a little more work.

[2015-11-23 14:31] ktk commented on #38
Was about to create an issue for that, eat your own dogfood! Happy to help as well

[2015-11-24 14:07] tripu commented on #16
@deniak, I think that now that an API key is required, this redirection no longer works automatically:

[code]

(This is causing an error in `node-w3capi`'s test suite.)

Is this the intended behaviour? If so, in `node-w3capi` I'll have to always capture the error thrown by the redirection, append the same key to the redirected URL, and try to fetch again&hellip;

[2015-11-24 16:25] tripu commented on #16
w3c/node-w3capi#6 will fix this in `node-w3capi`.

I'll let you guys decide if this is a bug in the API or not, regardless of its (now null) impact on this particular client&hellip;

[2015-11-26 16:26] dontcallmedom opened #59 "Don't drop apikey in redirects"
As alluded in #16, when the API sends a redirect back, it drops the `?apikey` parameter from the URL it redirects to.

While this can be handled on the client side, it seems it would be much better to do the right thing on the server side.

[2015-11-26 17:02] dontcallmedom opened #60 "Provide Last-Modified headers on more routes"
I understand that the API provides Last-Modified headers on some routes; it would help with caching if it provided it on all of them (or at least, on more of them). The two that I have been hitting recently were `specifications/<shortname>/versions` and `specifications/<shortname>/versions/deliverers`

[2015-11-26 17:09] vivienlacourba commented on #16
Closing again as the issue concerning the `apiKey` parameter being dropped during redirects is discussed in #59.

[2015-11-26 17:09] #16 closed

[2015-12-21 13:35] tripu opened #61 "Suggested feature: search by property or keyword"
Echoing an idea that @takenspc shared with me face-to-face today:

It would be nice if the API let users query by _keywords_, eg CSS properties. The result would be either the spec that introduced that property for the first time, or a list of all specs where that property is mentioned. Think [`caniuse.com`](http://caniuse.com/), but in a programmatic way.

I realise that this is an ambitious feat

[2015-12-25 06:02] takenspc commented on #61
I found the [CSS Indexes](https://drafts.csswg.org/indexes/) which lists terms defined by CSS specs. I will refer this note for now.
Though I understand that this is an ambitious feature, I will be happy to see this.

[2015-12-25 08:36] tripu commented on #61
That document is useful, @takenspc (I too seemed to remember there was an index like that, but couldn't remember where&hellip;).

(I'll leave this issue open until others weigh in to contribute or discard the idea altogether.)

[2016-01-22 10:12] jean-gui commented on #31
Head to https://www.w3.org/users/myprofile/webhooks to setup new webhooks.

I'm closing this issue and will create another one for people joining/leaving groups.

[2016-01-22 10:12] #31 closed, assigned to jean-gui

[2016-01-22 10:15] jean-gui opened #62 "Add webhook support for people joining/leaving groups"
Suggested by @sandhawke : "It'd definitely be nice to have this for people joining or leaving a group, too. And probably any other data change event. So don't make it TR specific, please."

[2016-01-27 15:52] dontcallmedom commented on #31
The URI exposed by the webhooks are `http:`URIs; it would seem more aligned with our new setup to use `https:` URIs.

[2016-03-21 22:41] hariharshankar opened #63 "Inconsistent URL Protocol in Version API"
The embedded version history API responds with a mixture of http:// and https:// URLs.

For example: https://api.w3.org/specifications/xslt/versions?_format=json&embed=1&apikey=
returns

[code]

Since W3C moved fully to https recently, I presume all these URLs should be https?

[2016-03-25 11:10] tripu opened #64 "Honour “embed” param also for single objects (?)"
@vivienlacourba [said](https://github.com/w3c/w3c-api/issues/46#issuecomment-145887368):

Would it be reasonable that the `embed` parameter is honoured also when the request returns one object in particular? ie, apart from including a property `_links` in the result, include also `_embed` with that same object, in detail. That would save many subsequent calls in some cases.

This is my scenario: a

[2016-03-25 14:07] sandhawke commented on #56
I've decided to call this a bug, since after five months I'm still unable to use this API because of this problem.   I know it doesn't look like a bug to you.     But as it is, it makes the W3C look more closed and proprietary and hard to work with than, for example, the major social silos.   And it makes some of our most valuable information, like who is in which group, largely unusable, since th

[2016-03-25 14:16] tripu commented on #56
I beg to differ. This is not a bug, IMHO. I fail to see how the lack of one specific feature (important as it may be for a subset of its user) in a tool or service makes it &ldquo;completely unusable&rdquo;.

[2016-03-25 14:21] sandhawke commented on #56
Fine, I've changed it from "completely unusable" to "largely unusable".

I don't know of a formal definition for the bug tag, but I think by many definitions this qualifies.   I also don't care what it's called, as long as it gets fixed.

[2016-04-13 13:44] plehegar commented on #63
:+1: to return https link from our API

[2016-04-28 13:58] tripu commented on #64
(I think @vivienlacourba told me that yes, it's reasonable, but not a trivial feature to add.)

[2016-05-09 16:30] plehegar commented on #63
Here is the proposal:
https://lists.w3.org/Archives/Public/spec-prod/2016AprJun/0024.html

[2016-05-30 06:52] ndw opened #65 "Data about specification editors appears to be incomplete"
Mike Smith suggested I report this. It appears that the data about specification editors behind the specifications API is incomplete. Consider:

`GET "https://api.w3.org/specifications/REC-rdf-syntax/versions"` returns, in part,

[code]

but `GET https://api.w3.org/specifications/REC-rdf-syntax/versions/19980819/editors"` returns:

[code]

[2016-05-30 13:11] deniak commented on #65
@ndw: the API is indeed lacking some data for old specs because, before 2002, we were not storing these information in the RDF files.
Here's how it works. [tr.rdf](http://www.w3.org/2002/01/tr-automation/tr.rdf) only lists the latest versions of each specification so you can't get the full history of a spec from there. Instead, we have snapshots of the TR history spread into different RDF files:
-

[2016-05-30 13:44] ndw commented on #65
Oh, goodness! No, don't do anything like that. I got the data I needed in the end. I was just reporting it because Mike suggested I should. I'm good. Thanks for your help!

[2016-06-01 10:21] tripu opened #66 "Expose also temporary/proposed/unofficial data using a special flag (?)"
From a suggestion by DanielD:

There are cases when clients of the API (eg, `node-w3capi`, `Unitas`) are interested in eg groups that aren't official yet. For example, a proposed IG. Obviously, when things aren't official yet it's for a reason. But it might be useful to enable a flag `proposed` or similar, that would return also those items (assuming they exist in our DB) even if they aren't appro

[2016-06-08 08:49] dontcallmedom opened #67 "Expose list of groups of which the user is chair or staff contact"
When building customized views, it is often useful to put forward groups in which a given user has a special role. For instance, in ash-nazg, there is a pending [feature request to filter PRs most relevant for the user](https://github.com/w3c/ash-nazg/issues/9).

To do that, it would be great if the API could expose somewhere in /user/foobar/ the list of groups from which the user is a chair or a

[2016-06-08 09:12] vivienlacourba commented on #67
+1 this request sounds good to me.

We could implement this by adding new endpoints to a user, eg.
- `https://api.w3.org/users/1234/chair-of-groups` -> would return a list of group for which user 1234 is a chair
- `https://api.w3.org/users/1234/team-contact-of-groups` -> would return a list of group for which user 1234 is a team contact

[2016-07-07 09:10] dontcallmedom commented on #67
any news on this?

[2016-07-07 16:37] jean-gui commented on #67
Should be merged soon.

[2016-07-08 13:32] #67 closed, assigned to jean-gui

[2016-07-11 08:47] tripu commented on #64
Any idea if/when this could be tackled&hellip;?

[2016-08-31 14:31] dontcallmedom opened #68 "Way to retrieve list of closed groups"
Unless I missed it, I don't think there is a way to retrieve the list of now-closed groups; I'm in particular interested in data on former WGs/IGs.

[2016-09-01 07:16] tripu commented on #68
_&lt;cough&gt; #66 is ahead in the queue &lt;cough&gt;_

[2016-12-02 13:25] tripu opened #69 "“/users/<hash>/groups?embed=1” returns an object instead of an array"
Usually, `_embed` is an object whose keys store *arrays* of other objects.
However, in the case of `/users/<hash>/groups?embed=1` that structure is an object (a dictionary).

eg, see `_embedded.groups` returned by [`https://api.w3.org/users/ggdj8tciu9kwwc4o4ww888ggkwok0c8/groups?embed=true`](https://api.w3.org/users/ggdj8tciu9kwwc4o4ww888ggkwok0c8/groups?embed=true) [add API key].

[2016-12-15 15:37] dontcallmedom opened #70 "Expose whether a specification is intended to go to Recommendation"
I understand that we keep track of which specifications are intended to go to Rec (vs intended to be published as a Note); it would be useful for one of my projects to have access to that information in the W3C API.

[2016-12-15 16:51] #69 closed, assigned to jean-gui

[2016-12-16 16:20] tripu commented on #69
Thx!

[2016-12-17 18:20] tripu opened #71 "Sort lists of items sensibly before returning them (?)"
How difficult would it be on the API backend [or, would it make sense] to sort lists of items by some relevant field? Right now, some lists are sorted according to some kind of useful order; others look shuffled.

Specifically:

* [`https://api.w3.org/specifications`](https://api.w3.org/specifications): random order, apparently; sort by `title`?
* Ditto [`https://api.w3.org/groups/32061/specificat

[2016-12-19 11:58] deniak commented on #70
@dontcallmedom we have that information per dated version, not per specification. Is that helpful to you?

[2016-12-19 12:11] dontcallmedom commented on #70
sure

(in an ideal world, the info of the latest version would be available readilly from the short name end point to avoid multiple requests, but in any case, starting with it being on the latest version is enough for my current purpose)

[2016-12-19 14:36] deniak commented on #70
The API now exposes a new property `rec-track` on each version

[2016-12-19 14:36] #70 closed, assigned to deniak

[2017-01-27 12:39] tripu opened #72 "“/versions/{date}/predecessors” and “/versions/{date}/successors”: property names in “_links” and “_embedded” are not coherent"
After the changes in #34 (`predecessor-version` and `successor-version`), the name of the arrays returned are not consistent.

For example:

[code]

Shouldn't `versions` above be `predecessor-version`, too?

I think some clients (eg, `node-w3capi`) operate under the assumption that those two IDs are always the same, and it would be nice not having to make and exception in the code just for these t

[2017-02-03 11:45] tripu opened #73 "“/participations/{ID}/participants” sometimes fails for valid participation IDs"
eg, [`/participations/14935/participants?embed=true`](https://api.w3.org/participations/14935/participants?embed=true)

Looking at some examples, I suspect that this query errors with a 404 when the participation is of type `individual==true`. It kind of makes sense, but this is the only case I've found until now in the API where I cannot fetch a (seemingly valid, logical) URL and be sure that it'

[2017-02-03 16:58] tripu commented on #29
FWIW, my two API clients don't need this any more: I'm mostly hard-coding fields and properties (for reasons outlined in https://github.com/w3c/w3c-api/issues/73#issue-205137252), so my clients know how to tell apart subsequent API calls from other URIs. In the worst case, I can look at the origin of any link and see if it matches the origin I know for the API (it's a bit ugly, but this issue isn'

[2017-02-03 16:58] tripu commented on #36
FWIW, my two API clients don't need this any more; cf https://github.com/w3c/w3c-api/issues/29#issuecomment-277301730.

[2017-02-03 17:05] tripu commented on #71
[`https://api.w3.org/functions`](https://api.w3.org/functions) seems ordered by IDs; not numerically but lexicographically.

I suggest order by title instead.

[2017-02-03 17:38] tripu commented on #73
Ditto about the participations of the special group that is the Advisory Board: seems the only group for which retrieving participations errors: [`https://api.w3.org/groups/7756/participations?embed=true`](https://api.w3.org/groups/7756/participations?embed=true).

[2017-02-07 09:22] tripu commented on #71
[`https://api.w3.org/groups/55181/participations?embed=true`](https://api.w3.org/groups/55181/participations?embed=true) seems also sorted by numeric ID, but lexicographically (eg,  `10` < `9`), which is of little use.

[2017-02-07 13:29] tripu commented on #73
It's happening with other groups (not only with the AB); see participations of the Web Security IG: [`https://api.w3.org/groups/49310/participations?embed=true`](https://api.w3.org/groups/49310/participations?embed=true).

[2017-02-08 16:06] tripu commented on #66
fwiw, I don't need this feature any more. Feel free to close it, or to downgrade it in priority and leave it open as part of a backlog.

[2017-02-08 17:40] jean-gui commented on #72
@deniak agreed to look into it

[2017-02-09 10:03] jean-gui commented on #73
I think there's a misunderstanding about what  /participations and /participations/xxx/participants are.
/participations lists all entities that signed the PP agreement and so only makes sense (and exists) for groups that are under the PP (which is why the AB and some IGs don't have that information).
A participation can either be an organization or a user. If it is an organization, then /particip

[2017-02-09 10:05] jean-gui opened #74 "/groups/xxx/users is not linked from /groups/xxx"
/groups/xxx/users exists for all groups but is never linked from /groups/xxx.
This comes from #73

[2017-02-09 10:14] jean-gui commented on #71
Actually, there is no sorting at all except for the ones you listed as sorted by family name (which is actually not intentional but comes from a piece of code that does it but shouldn't (IMO)).

My first thought is that sorting should be done client-side, but this is flawed since you couldn't sort paginated results (unless you first retrieved all pages) so I think it is a good idea to add a server

[2017-02-09 10:23] jean-gui commented on #66
We have the notion of staging groups for IGs and WGs but this only exists internally and means "do not make the group public yet", so we cannot expose that in the API.
We could have an endpoint for proposed CGs since that's already how they work, but for other types of groups it would mean implementing a new logic to our core codebase and social changes in the way groups at large are run.

[2017-02-09 10:27] jean-gui opened #75 "_self missing for /groups/xxx"
This is similar to #74

[2017-02-09 10:41] tripu commented on #71
I have a vested interest in having human-friendly sorting implemented server-side (for my API clients). But, to be honest, pagination doesn't need friendly sorting&nbsp;&mdash;&nbsp;it just needs to be deterministic, predictable.

For example, you could sort everything, always, by the SHA-1 checksum of their primary key, and paginated queries to the API would always return the same results, in the

[2017-02-09 11:07] jean-gui commented on #71
My apologies, I wasn't clear at all. The way lists are sorted is deterministic, it's just that they are sorted in the order rows were entered in the database. In SQL, if you run "SELECT * from foo;" you will always get results in the same order, it's just usually not any useful order.

[2017-02-09 13:26] #75 closed, assigned to jean-gui

[2017-02-09 13:27] #74 closed, assigned to jean-gui

[2017-02-10 15:46] tripu commented on #66
Thanks, @jean-gui. It sounds like too much work for a feature I don't need. I suggest closing it.

[2017-02-10 16:12] tripu commented on #71
@jean-gui: OK, understood. I'll wait for you guys to evaluate this feature request, then.

[2017-02-15 12:54] jean-gui commented on #68
@dontcallmedom Should we display former participants for closed groups?

[2017-02-15 13:22] sandhawke commented on #68
When I was actually using W3C group membership data in my software, I absolutely needed to know when someone joined and when they left, and of course it didn't matter if the group was still open.  (This was commonscribe, which automated more of scribing, and had to know who was in the group at the time of the meeting to recognize names.   If it lost access when the group shut down, the minutes wou

[2017-02-27 11:04] dontcallmedom commented on #68
@jean-gui I don't need it for the particular use case that triggered this issue, but as @sandhawke points out, I'm sure there are other use cases that would benefit from it.

[2017-03-03 16:56] dontcallmedom commented on #12
as we are making progress in capturing the linked identity between github and w3c accounts, this feature request is becoming important again.

For the repo manager, it would be ideal if we didn't have to manage affiliations there, but instead be able to fetch it automatically from the W3C database, which right now we can only do after having manually established to whom a github account belongs.

[2017-03-07 10:54] jean-gui commented on #12
@dontcallmedom How do you see this implemented. Should the URL (/users/github/jean-gui for example) redirect to the corresponding user, or should it display user profile directly?

[2017-03-07 11:10] dontcallmedom commented on #12
I have no strong preference, but I suspect having an intermediary resource might become useful, e.g. to show additional metadata about the connection between the w3c & github account (when the connection was made, if it was oauth validated, etc).

I think maybe starting with /users/github/jean-gui giving a simple HAL link to the w3c API endpoint for the user would leave us enough room for improvem

[2017-03-07 12:27] jean-gui commented on #12
I'm not sure it's very useful to provide that intermediate view. All the information about the connection between the w3c and github accounts is already in the user: https://api.w3.org/users/ll90noiui680c8k848sgkcow4ow44ss

[2017-03-07 13:18] dontcallmedom commented on #12
ok, then I guess a redirect is probably best (although I would feel better about if if #59 got fixed)

[2017-03-07 16:00] #59 closed, assigned to nobody

[2017-03-07 16:19] sandhawke commented on #12
What's the content at the end of that user link, @jean-gui ?

(I only see Missing API Key, and I don't want to get my heart broken again by digging deeper myself.)

[2017-03-07 16:30] jean-gui commented on #12
It's just my user with verified information about my Github account.

[2017-03-07 17:59] jean-gui commented on #12
@dontcallmedom Done! See http://api.w3.org/users/connected/github/1479073. Unfortunately you have to use Github IDs rather than logins because this is the only information that we know to be exposed and unique for any OAuth connection (we may want to add more services later).

[2017-03-07 17:59] #12 closed

[2017-03-14 12:19] jean-gui commented on #56
It is now possible to securely add external accounts by going to https://www.w3.org/users/myprofile/connectedaccounts. This information is then exposed in the API.
So far we've only allowed to connect to Github as it had a practical use case for WG work. If there are strong use cases for other services, it is possible to add them, provided that they support OAuth and are on the list at https://git

[2017-03-14 12:19] #56 closed, assigned to jean-gui

[2017-03-22 16:11] tripu opened #76 "Allow to filter results"
In general.

As hinted (https://github.com/w3c/w3c-api/issues/46#issuecomment-145887368; https://github.com/w3c/w3c-api/issues/41).

[2017-04-25 16:01] pooyapeyravi commented on #76
how do that plz if possible inform me to solve this error...?
very very thankful

[2017-06-09 14:25] tripu commented on #72
Any progress with this one&hellip;?

[2017-06-12 13:43] deniak commented on #72
Not yet @tripu. I'll try to tackle that issue this week.

[2017-06-21 15:01] deniak commented on #72
should be fixed now

[2017-06-21 15:01] #72 closed, assigned to deniak

[2017-06-22 12:42] tripu opened #77 "Add usual IRC nicknames to user/connected-accounts?"
Similar to what we do now with GitHub usernames, the `connected-accounts` array could also contain objects with `service` equal to `irc.w3.org` (or similar) and `nickname` equal to an IRC nickname commonly used by that person.

ping @iherman.

I realise this would require backend changes, not just API&nbsp;&mdash;&nbsp;filing it here to keep track and discuss.

[2017-08-27 11:42] egkareem opened #78 "How to call this from C#?"
Hot to use the API from C#.NET Console application for example to validate an HTML file residing on disk?

[2017-08-28 15:43] tripu commented on #78
@ekareem: the W3C API serves data about working groups, users, specs, etc (see [the overview](https://w3c.github.io/w3c-api/) and [the documentation](https://api.w3.org/doc)). It is *not* intended to validate documents.

For information about installing a markup validator locally, see projects [w3c/markup-validator](https://github.com/w3c/markup-validator/) and [validator/validator](https://github

[2017-08-28 15:43] #78 closed, assigned to nobody

[2017-08-29 03:53] egkareem commented on #78
Got it. Thank you.

[2017-08-30 09:00] tripu opened #79 "Wrong criteria to determine value of field “participation-as-public-ie-allowed” of groups?"
Reported in w3c/Unitas#81

cf internal issue no. 265

[2017-08-31 14:34] #66 closed, assigned to nobody

[2017-08-31 15:18] jean-gui commented on #79
Fixed and deployed.

[2017-08-31 15:18] #79 closed, assigned to jean-gui

[2017-08-31 15:28] iherman opened #80 "Give access to past group members"
(This is related to #68, but it is not exactly the same.)

I know that `/groups/{group}/users` can be used to retrieve the members of a group. However, there is no analogous to

    https://www.w3.org/2000/09/dbwg/details?group={group}&former=1

ie, to get the list of _all_ group members, past and present.

I use the API-s to automatically generate the acknowledgement section of a spec, simply lis

[2017-09-15 07:24] dontcallmedom opened #81 "Provide a way for staff to certify w3c/github link"
In some cases, it proves difficult to get some contributors to link their github / w3c accounts using the OAUTH endpoint.

For these cases, it would be great if there was a different, staff-only way to link github and w3c accounts together that could be reused by other tools (esp. the repo manager) to link the identities.

[2017-09-15 07:26] dontcallmedom commented on #81
for the W3C API, this association would have to be exposed and queryable, similarly to `/users/connected/github/1234` - e.g. `/users/verified/github/foobar`.

[2017-10-19 15:09] tripu commented on #71
So, is it on the road map to sort vectors sensibly before serving them, or shall I start implementing that on my clients&hellip;?

[2017-10-20 13:27] jean-gui commented on #71
Unfortunately, I don't have time to work on that feature.

[2017-10-20 13:31] tripu commented on #71
Understood, @jean-gui!

[2017-12-04 16:39] tripu commented on #64
https://api-platform.com/ to the rescue&hellip;?

[2017-12-05 09:17] tripu commented on #68
New use case: listing past groups on [the A-Z page](https://www.w3.org/Consortium/siteindex.html)

[2017-12-20 15:16] tripu opened #82 "API keys without any rate limits?"
Are they allowed?

[2017-12-20 15:27] jean-gui commented on #82
No.

[2017-12-20 15:27] #82 closed, assigned to jean-gui

[2017-12-20 15:27] tripu commented on #82
Okay.

[2017-12-20 15:32] jean-gui commented on #82
I should add that if unset or 0, a default value will be used (currently 5k)

[2018-01-09 12:27] iherman commented on #80
It seems that this request went down the drain... Any reaction on it? @tripu @deniak @jean-gui ?

[2018-03-25 16:32] 123georgesteve commented on #80
My wife totaled the car and I have no idea how to get set up

On Tue, Jan 9, 2018, 4:27 AM Ivan Herman <notifications@github.com> wrote:

[2018-03-26 12:08] tripu commented on #80
I think @jean-gui or @vivienlacourba will be the best to evaluate the feasibility of this.

[2018-04-06 12:04] tidoust opened #83 "403 response "Invalid API key message" received once in a while"
Some of my tools use the W3C API to retrieve information about specs and groups: [Reffy](https://github.com/tidoust/reffy) notably, and now playing with the API for [roadmaps](http://github.com/w3c/web-roadmaps).

Once in a while, the W3C API server rejects a request with a 403 response and the following message:

[code]

Re-issuing the request solves the issue. The type of request does not seem t

[2018-04-09 07:54] tidoust commented on #83
By the way, we don't have good logs for Reffy, but the tool runs every night and sends us an email report. First errors that "look like" this bug reached my inbox on **2 March 2018 at 2:12am UTC**, so if you changed something early March, that might be a good place to look at. We've seen similar error reports roughly once every two days during March.

[2018-04-09 15:41] jean-gui commented on #83
This should be fixed.

[2018-04-09 15:41] #83 closed, assigned to jean-gui

[2018-07-26 07:08] iherman commented on #80
I am still waiting to see if somebody cares about this request... :-(

@jean-gui @vivienlacourba @tripu

[2018-07-26 07:17] iherman opened #84 "Incomplete return for a WG?"
I inquire the group 100074. I use:

https://api.w3.org/groups/100074/users?apikey=...

However, the result is incomplete. Looking at

https://www.w3.org/2000/09/dbwg/details?group=100074

The last four entries (after Jeff Xu) are missing:-(

@tripu @deniak ?

[2018-07-26 11:08] jean-gui commented on #84
There's a second page https://api.w3.org/groups/100074/users?page=2. Check out attributes "pages" and "next".

[2018-07-26 11:08] #84 closed, assigned to nobody

[2018-07-26 14:49] iherman commented on #84
Oops... RFM:-)

and yes, it works. Thanks!

[2018-07-26 17:05] jean-gui commented on #80
Implemented. See https://api.w3.org/doc#get--groups-{group}-users and https://api.w3.org/groups/47318/users?former=true

[2018-07-26 17:05] #80 closed, assigned to nobody

[2018-07-27 09:28] iherman commented on #80
Thank you @jean-gui !

[2018-08-10 21:38] BigBlueHat opened #85 "Add Swagger/OpenAPI files to repo"
Mainly, I'm looking for a way to contribute directly the API (but can't find the code/docs). The [docs](https://api.w3.org/doc) look like they were output from Swagger/OpenAPI docs (with which I'm familiar), so if sending PRs against that is a sensible way to contributed, I'd be happy to do that!

Cheers!
🎩

[2018-08-30 03:48] #65 closed, assigned to deniak

[2018-09-18 13:41] plehegar opened #86 "Annotate CR publications with substantive status"
Some CR gets published without the Director's approval and, in theory, only contain editorial changes.

Some CRs gets published with the Director's approval and do contain substantive changes, thus becoming a reference draft for the Patent Policy.

It would be nice to differentiate them in the API so that, for a given CR version, it's possible to determine what was the latest reference draft used

[2018-11-12 14:57] tripu commented on #85
Thank you, @BigBlueHat!

The source code is not public on GH, since it's too dependent on our DB schema etc. But perhaps @jean-gui or @deniak can tell us about the feasibility of adding those files to the repo.

[2018-11-15 17:01] jean-gui commented on #85
Unfortunately, this documentation is generated from annotations in the code, we don't have any Swagger source files, and as @tripu said, the code is not public. I think the only way to propose changes to the documentation is by opening new issues.

[2018-11-15 17:22] #85 closed, assigned to nobody

[2018-12-11 13:55] dontcallmedom opened #87 "Expose Community Groups reports"
For a tool I'm building to keep track of CG activities and results, it would be useful to have a way to list draft and final reports published by Community Groups in the W3C API

[2018-12-11 18:54] vivienlacourba commented on #87
@dontcallmedom, a few weeks ago we discussed with @jean-gui and @deniak about porting the CG code to Symfony and in particular what relates to the CG reports. Once done we will be able to expose it in the W3C API. But this had in our mind a low priority, we were still planning to do it in 2019 but without a more specific date.
Seeing that this is of interest to you, we might try to tackle this soo

[2018-12-12 07:04] dontcallmedom commented on #87
no need to raise the priority from my perspective - it's a nice to have for my project, not a must.

(I thought it was just a matter of exposing it, I didn't remember it was built on a different code base)

[2019-01-30 10:04] deniak opened #89 "Expose specification's tags"
Would be useful.

[2019-06-10 18:08] plehegar commented on #68
Can we please please have this? I just ran into an other archeology case to answer a question from a Member. Luckily, I was able to access the Group info using the ID but I needed to find the ID first...

[2019-06-10 18:14] plehegar opened #90 "is a participant an IE?"
For a given group, one has to do the following to know if it's an invited expert:
 https://github.com/w3c/gargantua/blob/master/w3c.js#L29

It would be nice if we can return a boolean flag, when accessing group/participations or group/users, that gives this indication.

[2019-06-10 18:15] plehegar commented on #62
adding @dontcallmedom on this one since we'd love this

[2019-06-10 18:24] plehegar opened #91 "Group shortnames"
Our DB knows about *some* group shortnames, eg
 Shortname: distributed-tracing
 https://www.w3.org/groups/w3cgroups/108594

Can we add this field into the group object returned by our API please?

Can we have a way to edit/add shortnames, such as for
 https://www.w3.org/groups/w3cgroups/35422 ?

Note: for consistency purposes, I suggest it shouldn't be possible to reuse the same name of an active

[2019-06-11 13:59] vivienlacourba commented on #91
Hi @plehegar @dontcallmedom

The notion of group shortname was introduced for community groups and is also available for other types of groups. Unfortunately for old groups the info is incomplete and often missing.

What is/are your use case(s)?
Do you need it for other type of groups than WGs and IGs (we have it already for all CGs and BGs)?

We have such a feature but it is limited to systeam (a

[2019-06-11 17:50] plehegar commented on #91
Doing it all at once won't work for me. I need to show things to folks to get them interested in fixing the data. Sending an email to chairs and TCs on a limb of an idea isn't going to work.

Until I show them URLs, they won't be motivated in shortnames. So, I need to do it piecemeal, when folks ask for it. If that doesn't work for you, I can do my own JSON to store the shortnames. Once I do the J

[2019-06-14 14:27] swickr commented on #91
@vivienlacourba,

Can't the API return the null string for groups where no shortname is defined?  Why is that API enhancement dependent on fully populating the data?

[2019-06-14 15:01] vivienlacourba commented on #91
@swickr technically yes it can certainly return null so could any other field.

But the important part is that today we don't store (nor have) that data for any WG/IG/Task force/... only for CG and BG (because in the CG context shortnames are central, they serve as identifier and control the URI space or the mailing list names).

I am very keen on providing all the data we have but when we don't h

[2019-06-17 13:40] jean-gui commented on #90
I have added a property to https://api.w3.org/participations/21634, which can also be grabbed directly from the list of participations using the embed parameter: https://api.w3.org/groups/35422/participations?embed=true

Does that fit your needs?

[2019-06-18 21:31] plehegar opened #92 "Improving /specifications"
For all specifications, I find myself systematically accessing the latest-version/status in order to:
1. eliminate retired specifications from the lists
2. display the status of a specification

This generates a lot of subsequent API calls.

is it possible to expose specification/latest-version/status directly as specification/status, and have a way to only retrieve active specifications?

[2019-06-19 09:46] vivienlacourba opened #93 "Rewrite the W3C API on top of Symfony API Platform"
Symfony's [API Platform](https://api-platform.com/) is a REST and GraphQL framework to build modern API-driven projects.

We should rewrite the W3C API based on this framework (which did not existed when we developed the initial version of the W3C API).

This will provide long requested features such as:
* [Filtering](https://api-platform.com/docs/core/filters/) (see #76, #41, #68 )
* [Default ord

[2019-06-19 09:47] vivienlacourba commented on #76
The filtering feature has long been requested but will need to wait till we find time to work on the the next major version of the W3C API that would be build on Symfony API Platform (see #93).

[2019-06-19 09:49] vivienlacourba commented on #92
Hi @plehegar,

You can get this info using a single API call (modulo the pagination for long results) from:
https://api.w3.org/specifications?embed=1

From that list you will have the status of the latest version of each specification (each specification status can be seen in the `title` attribute of the` latest-version` link ).

Below an extract from the above API call result showing one specific

[2019-06-24 22:11] vivienlacourba commented on #89
Test

--
Vivien Lacourba                      World Wide Web Consortium
vivien@w3.org                        https://www.w3.org
https://www.w3.org/People/Vivien     Tel: +33.4.92.38.78.89

[2019-06-24 22:22] vivienlacourba commented on #89
Test 2

[2019-06-25 10:06] vivienlacourba commented on #89
Test manual reply to. 456

[2019-06-25 10:08] vivienlacourba commented on #89
bar

[2019-06-25 10:30] vivienlacourba commented on #89
Test 3

[2019-09-13 14:43] #90 closed, assigned to nobody

[2019-09-25 18:36] plehegar commented on #90
Works wonderfully https://github.com/w3c/gargantua/commit/5a8fab9ad06cd696f77e190ff2a26ab27abd32a2

[2019-11-27 02:31] Kirii2 opened #94 "w3c-api"

[2019-12-04 07:08] deniak opened #96 "API doesn't version-less shortnames for leveled specifications"
We rely on the shortnames to serve the specifications (`/specifications/{shortname}`) and at the moment, a specification is mapped to one and only one shortname.
This is causing an issue when there's a shortname change or when we have to handle version-less shortnames, eg. `hr-time`, `hr-time-1` and `hr-time-2`.
Discussing with @vivienlacourba and @plehegar, we need a way to redirect a specific sh

[2019-12-06 13:03] plehegar commented on #96
To be clear, a WG decides to redirect to `latest` or `upcoming`. For webperf, they picked `upcoming`. In the case of pointer events, they picked `latest`. We could choose to represent this type of redirect at the API level as well.

[2019-12-06 13:25] plehegar commented on #96
Btw, this would mean fixing the [`latest`](https://api.w3.org/doc#operations-Specifications-get_specifications__shortname__versions_latest) link in our API and introducing
`/specifications/{shortname}/versions/upcoming`

[2019-12-09 12:53] plehegar commented on #96
An other one:
https://api.w3.org/specifications-by-shortname/hr-time
returns "hr-time-2", "hr-time-3".

It doesn't return "hr-time" (which is wrongly superseded) but it returns hr-time-3 (which is Retired).

Once the fix is done. I think it should return one of:
1- "hr-time", "hr-time-2"
2-  "hr-time", "hr-time-1", "hr-time-2", "hr-time-3"

(I prefer option 1)

[2020-03-06 15:16] tidoust opened #98 "New endpoint to retrieve levels of a "shortname without level""
My understanding of the discussion in #96 is that it deals with what the API should return for a request on a "shortname without level", e.g. for queries "hr-time" instead of on "hr-time-2".

Another information that would be useful for me is a mechanism to list the different levels that exist for a given "shortname without level". Right now, I can either query:

- `/specifications/{shortname}` bu

[2020-03-06 15:49] vivienlacourba commented on #98
Hi @tidoust,

You guessed right we do not have that info in our db yet.

Good news is that @deniak is currently working on adding it by implementing levels in addition to shortnames with and without the level info. You comment is quite timely to help sketch up the changes on the API, @deniak will get back to you in the next 2-3 weeks.

[2020-03-31 21:16] hoijui opened #99 "Wiki Login problem"
I know I am horribly wrong here, and I am sorry, but.. I really could not find a way to report this issue on the w3c website.
I created two logins through <https://www.w3.org/accounts/request>, and while I confirmed both of them (email verification), and I can login on <https://www.w3.org/users/myprofile>, I can not login on the Wiki: <https://www.w3.org/2001/sw/wiki/index.php?title=Special:UserLo

[2020-04-01 06:25] vivienlacourba commented on #99
Hi @hoijui,

Please resend your issue by email to the W3C Systems support list: sysreq@w3.org

Regards,
Vivien

[2020-04-01 06:25] #99 closed, assigned to nobody

[2020-05-28 07:04] deniak commented on #96
The new version of the API has just been released.
@riccardoAlbertoni does it solve the issue with `vocab-dcat`?

[2020-06-03 13:05] deniak commented on #98
`/specification-series/` has been deployed.

[2020-06-03 13:05] #98 closed, assigned to deniak

[2020-06-04 15:12] #96 closed, assigned to deniak

[2020-06-24 18:40] hober opened #101 "Users aren't all men"
It says "Find user by his hash" in the row for `/users/{hash}` on [https://api.w3.org/doc](https://api.w3.org/doc). Not all users are men. Please change "his" to "their".

[2020-06-25 07:28] vivienlacourba commented on #101
Fixed.

Thanks for your report!

[2020-06-25 07:28] #101 closed, assigned to vivienlacourba

[2020-06-28 04:17] marcoscaceres commented on #91
This would be amazing for ReSpec too... we are currently making up our own names. See:
https://github.com/marcoscaceres/respec.org/pull/91

That way we don't need to maintain the list in ReSpec.

cc @sidvishnoi

[2020-06-28 04:20] marcoscaceres commented on #91
See also https://github.com/w3c/respec/wiki/group ... I think BikeShed does something similar.

[2020-09-22 11:21] jean-gui commented on #62
This has finally been added. See https://w3c.github.io/w3c-api/webhooks for more info.

[2020-09-22 11:22] #62 closed, assigned to nobody

[2020-12-28 23:00] JKiriii opened #102 "W3C"

[2021-01-07 17:15] #102 closed, assigned to nobody

[2021-02-05 11:42] andrea-perego commented on #96
Sorry for the belated feedback, @deniak , but this does not fix the issue with `vocab-dcat`.

SpecRef still returns the old entry, but with the publication date of `vocab-dcat-2` (2 Feb 2020).

See: https://api.specref.org/bibrefs?refs=vocab-dcat

[code]

[2021-02-05 12:20] deniak commented on #96
I submitted a PR to specref: https://github.com/tobie/specref/pull/635. Hopefully this will fix the issue for `vocab-dcat`

[2021-02-23 17:29] andrea-perego commented on #96
Thanks, @deniak . I see that the PR is yet to be merged.

Meanwhile, a related issue:

Following the use of https://www.w3.org/TR/vocab-dcat/ to point to the latest DCAT REC, the first REC has been made available at:

https://www.w3.org/TR/vocab-dcat-1/

However, I don't see it listed in https://www.w3.org/2002/01/tr-automation/tr.rdf

[2021-02-24 07:04] deniak commented on #96
That's because `vocab-decab-1` was never officially published under that shortname but since we have an inconsistency, I fixed the data so the new shortname appears in tr.rdf.
That being said, you shouldn't rely on tr.rdf. We are in the process of deprecating it in favor of the [W3C API](https://api.w3.org/doc).

[2021-02-24 10:05] andrea-perego commented on #96
Thanks, @deniak . I was looking at tr.rdf as I supposed it is still used by SpecRef.

[2021-05-04 22:20] jyasskin commented on #87
I would also like to use the API to find CG reports, as described in https://lists.w3.org/Archives/Public/spec-prod/2021AprJun/0018.html.

[2021-05-05 03:17] marcoscaceres opened #103 "IPP URLs in old format"
The IPP URLs were updated May 3rd, but the W3C API is still returning them in the old URL format.

For example, `pp-status` below:

[code]

[2021-05-05 05:10] dontcallmedom commented on #87
@jyasskin while I'm supportive of the need, I don't think this particular request will fulfill your use case: only a very small number of CG reports are actually recorded as such at the moment. For instance, none of the many docs under development in WICG have been recorded: https://www.w3.org/community/wicg/#group-reports

I also don't think we record editors when CG reports are filed, since CG r

[2021-05-05 08:16] vivienlacourba commented on #103
Hi @marcoscaceres,

You are right we forgot to update the value of the `pp-status` property.

There was actually another bug as this info is only relevant for groups operating under the W3C Patent Policy which means this property should not exists for Community and Business Groups.

I'm working on a fix to address both issues.

cc: @deniak

[2021-05-05 09:21] vivienlacourba commented on #103
@marcoscaceres, issues fixed.

Example of the Accessibility Guidelines Working Group https://api.w3.org/groups/35422:
[code]
Whereas for a Community group (e.g. the 3D FOSS Web Development Community Group https://api.w3.org/groups/125720) the `pp-status` property is not displayed anymore (as not relevant for this type of group).

[2021-05-05 09:21] #103 closed, assigned to vivienlacourba

[2021-05-05 09:32] vivienlacourba commented on #63
All uris related to W3C publications are now using HTTPS exclusively since 6 July 2020.

See https://lists.w3.org/Archives/Public/spec-prod/2020JulSep/0001.html

[2021-05-05 09:32] #63 closed, assigned to nobody

[2021-05-05 09:53] vivienlacourba commented on #91
Since the introduction of the new groups pages in June 2020, all groups listed on the [W3C Groups](https://www.w3.org/groups/) page now have a shortname which is also exposed in the W3C API .
This include all WGs, IGs, CGs, BGs, TAG, AB along with their corresponding task forces.

Note:
* For new groups shortnames are set during their creation
* The same shortname can be used for groups of differe

[2021-05-05 09:53] #91 closed, assigned to vivienlacourba

[2021-05-05 16:06] jyasskin commented on #87
Thanks! I'm happy with your suggestion to use Reffy instead.

[2021-05-06 06:58] marcoscaceres commented on #103
Amazing! Thank you!

[2021-05-07 06:19] marcoscaceres opened #104 "Looking up users by W3C ID"
For the `/users/` path, the W3C API relies on a "hash" to represent a user, but it's unclear how the hash is derived. In specs, we usually provide the "w3c_id".... Question: is the "hash" a hash of the W3C ID? (tried md5 and sha-1)

If not, would be be possible to add support for looking up users by their w3c id? This would be great in ReSpec, as we could just provide a list of W3C IDs, and the W3

[2021-05-07 09:11] dontcallmedom commented on #104
AFAIR, these aren't hashes but unguessable strings to prevent from harvesting data on users that are not expected to be exposed - IIRC, the rule is we only expose data about participants in groups.

The path that is used in the IPR checker and should be usable in ReSpec as well is to walk through the list of participants via `https://api.w3.org/groups/`*wgid*`/participations?embed=1` - then each o

[2021-05-07 11:04] vivienlacourba commented on #104
That is correct. (For some history see https://github.com/w3c/w3c-api/issues/46#issuecomment-145887368 and https://github.com/w3c/w3c-api/issues/55)

I'm not opposed to revisiting this.

[2021-05-10 00:19] marcoscaceres commented on #91
Not sure where to ask, but maybe we can get the short names more easily exposed at W3C Groups? I'd love to point people to https://www.w3.org/groups/ instead of https://respec.org/w3c/groups/

[2021-05-17 05:14] deniak commented on #91
@marcoscaceres https://www.w3.org/groups/ only lists the different types of W3C groups.
Would it be ok to have the shortnames displayed below the group names under each page?
* https://www.w3.org/groups/wg/
* https://www.w3.org/groups/ig/
* https://www.w3.org/groups/cg/
* https://www.w3.org/groups/bg/

/cc @jean-gui

[2021-05-18 05:51] marcoscaceres commented on #91
I think it would be fine. Main thing is being able to quickly search for them, which folks can do via browser's in-page search.

[2021-05-21 06:37] marcoscaceres commented on #104
Ok, but if we can basically go through `group` (+W3C API key) to get to the user details, then it seems like it's "privacy by inconvenience" rather than a robust solution.

What might be better is restricting what one could get from `/users/w3cid` to some acceptable subset of already public information.

For example, this is all public https://www.w3.org/groups/wg/eowg/participants ... the W3C API

[2021-06-11 10:33] deniak commented on #91
@marcoscaceres we ended up displaying the shortname on the group page itself, e.g. https://www.w3.org/groups/wg/css.
It was suggested to keep the data on the list of groups minimal and put that kind of additional data on separate pages.

[2021-06-15 04:49] marcoscaceres commented on #91
Ok cool! thanks for the update!

[2021-12-09 11:08] dontcallmedom opened #108 "Add filter to specification-series by superseded status"
If the last version of a spec in a series is supersed (e.g. https://api.w3.org/specification-series/ATAG-wombat), it would be good to be able to have a parameter on the `specification-series` endpoint that exclude the said series.

[2021-12-09 11:08] dontcallmedom commented on #108
cc @deniak

[2021-12-09 11:10] dontcallmedom commented on #108
(another approach might to remove the said series by merging the shortname with whatever supersedes them)

[2021-12-09 13:04] deniak commented on #108
We are already giving [the possibility to filter out the retired specifications](https://api.w3.org/doc#operations-Series-get_specification_series) so we can add an extra parameter to do the same for series with superseded specifications. I've submitted a PR and waiting for someone to review it.

[2022-03-23 07:35] Chipobg opened #112 "4sales.bg"
DOMAIN NAME: 4sales.bg (4sales.bg)
registration status: busy, active

NAME SERVER INFORMATION:
june.ns.cloudflare.com
merlin.ns.cloudflare.com

DNSSEC: inactive

According to REGULATION (EU) 2016/679 OF THE EUROPEAN PARLIAMENT AND
OF THE COUNCIL (GDPR) personal data is not published.

If you would like to contact the persons responsible for the domain
name, please, use the online WHOIS contact for

[2022-03-23 07:36] Chipobg commented on #112
[DOMAIN NAME: 4sales.bg (4sales.bg)
registration status: busy, active

NAME SERVER INFORMATION:
june.ns.cloudflare.com
merlin.ns.cloudflare.com

DNSSEC: inactive

According to REGULATION (EU) 2016/679 OF THE EUROPEAN PARLIAMENT AND
OF THE COUNCIL (GDPR) personal data is not published.

If you would like to contact the persons responsible for the domain
name, please, use the online WHOIS contact fo

[2022-03-23 07:36] Chipobg commented on #112
[4sales.bg](url)

[2022-04-22 21:07] idev1990 opened #113 "Thjjt"

[2022-04-22 22:36] #113 closed

[2022-10-13 16:12] tidoust opened #117 "Wrong specification-series names generated for WebCodecs codec registration specs"
Some WebCodecs codec registration specs have codec names with numbers:

- [`webcodecs-av1-codec-registration`](https://www.w3.org/TR/webcodecs-av1-codec-registration/),
- [`webcodecs-mp3-codec-registration`](https://www.w3.org/TR/webcodecs-mp3-codec-registration/)
- [`webcodecs-vp8-codec-registration`](https://www.w3.org/TR/webcodecs-vp8-codec-registration/)
- [`webcodecs-vp9-codec-registration`](

[2022-10-13 16:22] deniak commented on #117
Indeed, the shortname of the series was incorrectly computed. I've fixed all the records and will track where the bug comes from so it doesn't happen again

[2022-10-13 16:22] #117 closed, assigned to deniak